body {
    text-align: center;
    background-color: #E3E3E3;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#canvas {
    background-color: #E3E3E3;
    display: inline-block;
    margin-top: 15px;
}

#title {
    color: black
}

#tiaozheng {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 10px;
    display: none;
}